speech{
font-size: 14;
font-family: Helvetica, Arial, sans-serif;
color: black;
}

song {
font-size: 14;
font-family: 'Courier New', Courier, monospace;
color: black;
}

direction{
font-size: 20;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
color:black;
background-color: aqua;
}

direction:hover{
color:black;
background-color: antiquewhite;
}

name{
font-size: 18;
font-family: Georgia, 'Times New Roman', Times, serif;
color: black;
}

POINT{
color:brown;
font-family: fantasy;
}

WILFRED{
color: blue;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

