.speech{
    font-size: 14;
    font-family: Helvetica, Arial, sans-serif;
    color: black;
}

.song {
    font-size: 14;
    font-family: 'Courier New', Courier, monospace;
    color: black;
}

.direction{
    font-size: 20;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:black;
    background-color: aqua;
}

.direction:hover{
    color:black;
    background-color: antiquewhite;
}

.name{
    font-size: 18;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}

.POINT{
    font-size: 16;
    color:brown;
    font-family: fantasy;
}

.POINT:hover{
    text-shadow: 2px 3px 5px green;
    border: 3px solid grey;    
}

.WILFRED{
    font-size: 16;
    color: blue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.WILFRED:hover{
    text-shadow: 2px 3px 5px orange;
    border: 3px solid grey;    
}

table{
    border: solid 3px black;
    border-collapse: collapse;
    margin: 10px;
}
th{
    border: dashed 3px black;
    text-align: center;
    padding: 10px;
    color:brown;
    
}
td{
    border: solid 3px black;
    text-align: left;
    padding: 5px;
}
